<section class="ondemand-promo" style="background-image: url('{{asset "images/bedrock-ondemand-bkgd.png"}}');">
    <h2 class="promo-heading">CISO OnDemand Plans</h2>
    <div class="promo-info">
        <ul class="promo-list">
            <li>Series A or equivalent stage</li>
            <li>Single regulatory requirement</li>
            <li>Less than 100 employees</li>
        </ul>
        <p class="pricing">Starting at <br> <span>$3-5.9k</span> USD per month</p>
    </div>
</section>