@use "variables";

.blog {
    &__hero {
        text-align: center;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-inline: 1.5rem;
    }
    &__heading {
        font-size: 44px;
        font-style: normal;
        font-weight: 500;
        font-weight: bold;
        font-family: variables.$base-font-family;
        font-weight: 700;
        margin-bottom: 1rem;
        i {
            font-family: variables.$heading-font-family;
        }
        @media screen and (min-width: variables.$break-tablet) {
            font-size: 54px;
        }
    }
    &__subheading {
        font-size: 20px;
        font-weight: 600;
    }
    &__menu-wrapper {
        padding-inline: variables.$gutter-width;
        margin-inline: auto;
        max-width: 1300px;
    }

    &__menu {
        display: flex;
        width: 100%;
        padding: 3rem 0;
        padding-bottom: 0;
        justify-content: space-between;
        border-bottom: 1px solid #000;
    }
    &__dropdown {
        position: relative;
        cursor: pointer;
        .arrow {
            margin-left: 0.25rem;
            margin-bottom: 2px;
        }
        &.show {
            .blog__tag-list {
                position: absolute;
                width: 20rem;
                max-width: max-content;
                z-index: 1;
                height: auto;
                box-shadow: 0px 4px 4px 0px rgba(0,0,0,.1);
            }
        }
    }
    &__dropdown-title {
        padding: 1rem;
    }
    &__tag-list {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding-inline: 0;
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease;
    }
    &__tag {
        padding-left: 0;
        margin-top: 0;
        a {
            padding: 1rem;
            width: 100%;
            display: block;
            background: variables.$body-background-color;
            &:hover {
                background: white;
            }
        }
    }
}

a.post-back-link {
    text-decoration: underline;
    margin-bottom: 1rem;
}