@use 'variables';

.how-it-works {
    background-color: #222;
    color: white;
    padding: 60px variables.$gutter-width;
}

.how-it-works-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 0;
    padding-bottom: 6rem;
    max-width: variables.$max-content-width;
    margin: 0 auto;
    @media screen and (min-width: variables.$break-tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }
}

.how-it-works-heading {
    font-size: 3.75rem;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    color: variables.$warm-white;
    @media screen and (min-width: variables.$break-tablet) {
        font-size: 5.4rem;
    }
}

.how-it-works-subheading {
    font-size: 1.6rem;
    font-weight: 500;
    color: variables.$sandstone;
    i {
        font-weight: 600;
        font-family: variables.$heading-font-family;
        font-style: italic;
    }
}

.how-it-works-buckets {
    max-width: variables.$max-content-width;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    row-gap: 3rem;
    @media screen and (min-width: variables.$break-tablet) {
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
    }
    &-item {
        @media screen and (min-width: variables.$break-tablet) {
            border-right: 1px solid variables.$stone-gray;
            padding-inline: 5rem;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                border-right: none;
                padding-right: 0;
            }
        }
        counter-increment: inst;
        display: flex;
        flex-direction: column;
        font-size: 1.6rem;
        span {
            font-size: 2rem;
        }
        &::before {
            content: counter(inst);
            left: -5%;
            top: -0.65em;
            height: 1em;
            width: 1.35em;
            font-size: 6.4rem;
            font-weight: 500;
            display: block;
            color: variables.$warm-white;
            font-family: variables.$heading-font-family;
        }
    }
}
