@use 'variables';

.home-solutions-for-security-challenges {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-inline: variables.$gutter-width;
    padding-block: 3rem;
    max-width: variables.$max-content-width;
    margin: 0 auto;
    @media screen and (min-width: variables.$break-tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        padding-block: 5rem;
    }
    @media screen and (min-width: variables.$break-xlarge) {
        gap: 6rem;
        padding-block: 8rem;
    }
    h3 {margin-top: 0; font-size: 3.2rem; margin-bottom: 4rem; .number {
        font-family: variables.$heading-font-family;
        font-size: 7.5rem;
        line-height: 1;
        font-weight: 400;
        margin-right: 1rem;

    }}
    h4 {
        margin-top: 2rem;
    }
}

.home-solution-for-security-challenge-heading {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 500;
    max-width: 530px;
    @media screen and (min-width: variables.$break-tablet) {
        font-size: 4.8rem;
    }
    i {
        font-weight: 500;
        font-family: variables.$heading-font-family;
        font-style: italic;
    }
}

.home-solution-for-security-challenge-copy {
    font-size: 2rem;
}