@use "variables";
.home-feed-and-newsletter-signup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-inline: variables.$gutter-width;
    padding-block: 3rem;
    max-width: variables.$max-content-width;
    margin: 0 auto;
    @media screen and (min-width: variables.$break-tablet) {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 3rem;
        padding-block: 5rem;
    }
    @media screen and (min-width: variables.$break-xlarge) {
        padding-block: 8rem;
    }
    &__heading {
        font-weight: 500;
        font-size: 3.7rem;
        margin-top: 0;
        margin-bottom: 1rem;
        @media screen and (min-width: variables.$break-tablet) {
            font-size: 5.4rem;
        }
    }
}

.home-feed-and-newsletter {
    &__sign-up {
        @media screen and (min-width: variables.$break-tablet) {
            border-left: 1px solid variables.$stone-gray;
            padding-left: 3rem;
        }
        ul {
            margin-bottom: 2rem;
        }
    }

    &__subheading {
        font-size: 1.6rem;
        font-weight: 500;
        color: variables.$stone-gray;
        i {
            font-weight: 600;
            font-family: variables.$heading-font-family;
            font-style: italic;
        }
    }
}
