@use 'variables';

.ondemand-promo {
    background-color: black;
    color: white;
    padding: 4.5rem;
    font-family: variables.$base-font-family;
    font-weight: 600;
    max-width: 1280px;
    margin: 3rem auto;
    background-size: cover;
    background-position: center center;
    .promo-heading {
        font-size: 3rem;
        margin-top: 0;
        margin-bottom: 2.5rem;
        @media screen and (min-width: variables.$break-tablet) {
            margin-bottom: 5rem;
            font-size: 4.8rem;
        }
    }
    .promo-list {
        li {
            margin-block: 1rem;
            font-size: 1.8rem;
            font-weight: 600;
            @media screen and (min-width: variables.$break-tablet) {
                font-size: 2.4rem;
            }
        }
    }
    .promo-subheading {
        font-size: 1.6rem;
        margin-bottom: 4rem;
    }
    .pricing {
        line-height: 1.5;
        font-size: 2rem;
        font-weight: 400;
        transform: translateY(24px);
        span {
            font-size: 3.5rem;
            @media screen and (min-width: variables.$break-tablet) {
                font-size: 6rem;
            }
            font-weight: 600;
        }
    }
    @media screen and (min-width: variables.$break-tablet) {
        .promo-info {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }
        margin: 10rem auto;
    }
}