@use 'variables';

.post-template .article {
    padding-top: 0;
}

.article-title {
    text-align: center;
    font-family: variables.$base-font-family;
    font-weight: 500;
}

.article-excerpt {
    text-align: center;
    font-family: variables.$base-font-family;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.article-author-byline {
    text-align: center;
    font-family: variables.$base-font-family;
    font-size: 1.6rem;
    margin-bottom: 4rem;
    font-weight: 400;
}

.article .gh-content * {
    font-family: variables.$base-font-family;
}

.post-author-list {
    list-style: none;
    max-width: 1000px;
    margin: 4rem auto;
}

.author-profile-social-link {
    color: black;
}

.article-back-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: black;
    fill: black;
    font-family: variables.$base-font-family;
    text-decoration: none !important;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    width: fit-content;
    &:hover {
        background-color: black;
        color: white;
        fill: white;
    }
}

.read-more-heading {
    font-size: 4.8rem;
    text-align: left;
    margin-bottom: 4rem;
    font-weight: 500;
    i {
        font-family: variables.$heading-font-family;
        font-style: italic;
    }
}

.read-more-wrap {
    max-width: 1280px;
    margin: 10rem auto;
}