@use 'variables';

.solution-hero {
    padding-inline: variables.$gutter-width;
    max-width: 1280px;
    margin: 0 auto 4rem;
    padding-top: 6rem;
    padding-bottom: 5rem;
    @media screen and (min-width: variables.$break-tablet) {
        display: grid;
        grid-template-columns: 3fr 1fr;
        align-items: center;
        gap: 2rem;
    }
    &__heading {
        margin-bottom: 1rem;
        font-size: 3.75rem;
        @media screen and (min-width: variables.$break-tablet) {
            font-size: 5.4rem;
        }
    }
    &__copy {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1rem;
        @media screen and (min-width: variables.$break-tablet) {
            margin-bottom: 3rem;
        }
    }
    &__button-wrapper {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
    }
    &__button {
        display: inline-block;
        background-color: black;
        color: white;
        font-family: variables.$base-font-family;
        font-weight: 600;
        padding: 10px 15px;
        text-decoration: none;
        margin-top: 2rem;
        border-radius: 5px;
        border: 3px solid black;
        margin-bottom: 2rem;
        &:hover {
            background-color: transparent;
            color: black;
            border: 3px solid black;
        }
        &--secondary {
            background-color: transparent;
            color: black;
            border: 3px solid black;
            &:hover {
                background-color: black;
                color: white;
            }
        }
    }
    &__info-cycle-item {
        display: flex;
        align-items: center;
        gap: 1rem;
        svg {
            width: 30px;
            height: 30px;
            fill: black;
        }
    }
}

.solution-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-inline: variables.$gutter-width;
    padding-block: 3rem;
    max-width: 1280px;
    margin: 0 auto;
    border-bottom: 2px solid black;
    &:last-child {
        border-bottom: none;
        margin-bottom: 5rem;
    }
    @media screen and (min-width: variables.$break-tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        padding-block: 5rem;
    }
    @media screen and (min-width: variables.$break-xlarge) {
        gap: 6rem;
        padding-block: 8rem;
    }
    &__heading {
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.2;
        margin-top: 1rem;
        span {
            font-family: variables.$heading-font-family;
            font-size: 400;
            font-size: 9.6rem;
            line-height: 1.6;
        }
        @media screen and (min-width: variables.$break-tablet) {
            width: 500px;
            font-size: 5rem;
        }
    }
    h3:first-child {
        margin-top: 0;
    }
    p, li {
        font-size: 1.8rem;
        line-height: 1.5;
        font-weight: 400;
    }
    ul {
        @media screen and (min-width: variables.$break-tablet) {
            padding-left: 0;
        }
    }
}