@use 'variables';

.solution-hero {
    padding-inline: variables.$gutter-width;
    max-width: 1200px;
    margin: 0 auto 4rem;
    padding-top: 4rem;
    padding-bottom: 3rem;
    &__button {
        display: inline-block;
        background-color: black;
        color: white;
        font-family: variables.$base-font-family;
        font-weight: 600;
        padding: 10px 15px;
        text-decoration: none;
        margin-top: 2rem;
        border-radius: 5px;
        &:hover {
            background-color: transparent;
            color: black;
            border: 3px solid black;
        }
        &--secondary {
            background-color: transparent;
            color: black;
            border: 3px solid black;
            &:hover {
                background-color: black;
                color: white;
            }
        }
    }
}

.solution-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-inline: variables.$gutter-width;
    max-width: 1280px;
    margin: 0 auto 4rem;
    @media screen and (min-width: variables.$break-tablet) {
        flex-direction: row;
        gap: 10rem;
        justify-content: space-between;
    }
    @media screen and (min-width: variables.$break-xlarge) {
        gap: 27.25rem;
    }
    &__heading {
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.2;
        margin-top: 4rem;
        span {
            font-family: variables.$heading-font-family;
            font-size: 400;
            font-size: 9.6rem;
            line-height: 1.6;
        }
        @media screen and (min-width: variables.$break-tablet) {
            width: 70%;
            font-size: 5rem;
        }
    }
    p {
        font-size: 1.6rem;
        line-height: 1.45;
        font-weight: 400;
    }
    ul {
        padding-left: 0;
    }
}