// Colors
$background-color: #f5f5f5;
$warm-white: #F8F7F5;
$sandstone: #D4CFC7;
$body-background-color: #f4f0e9;
$stone-gray: #5A5550;
$dark-gray: #2C2C2C;

// Breakpoints
$break-mobile: 450px;
$break-small: 600px;
$break-tablet: 768px;
$break-large: 600px;
$break-xlarge: 1200px;
$break-xxlarge: 1366px;

// Global Spacing
$gutter-width: 1.5rem;
$container-width: 1200px;
$max-content-width: 1280px;


// Typography
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$base-font-family: 'Poppins', sans-serif;
$heading-font-family: 'Playfair Display', serif;