<section class="home-solutions-for-security-challenges">
    <div>
        <h2 class="home-solution-for-security-challenge-heading">
            Solutions for <i>Real Security</i> Challenges
        </h2>
        <p class="home-solution-for-security-challenge-copy">
            Solutions That Scale With You
        </p>
        <a class="primary-btn" href="#">
            Check Out our Solutions
        </a>
    </div>
    <div>
        <h3>
            <span class="number">1</span> Security Debt Reduction Sprint
        </h3>
        <h4>Problem</h4>
        <p>"The Debt Clock is Ticking" – every day without strategic security leadership, your company accumulates
            security debt
            that compounds over time, becoming more expensive to resolve.</p>
        <h4>Risk</h4>
        <p>94% of SMBs faced at least one cyberattack in 2024, indicating a high level of vulnerability among these
            businesses
            NinjaOne.</p>
    </div>
</section>