<section class="home-testimonial">
    <div class="home-testimonial-wrapper">
        <svg xmlns="http://www.w3.org/2000/svg" class="home-testimonial-quote-icon" width="51" height="30" viewBox="0 0 51 30" fill="none">
            <path
                d="M0 11.25C0 5.03437 6.11317 0 13.6607 0H14.5714C16.5864 0 18.2143 1.34062 18.2143 3C18.2143 4.65938 16.5864 6 14.5714 6H13.6607C10.1431 6 7.28571 8.35312 7.28571 11.25V12H14.5714C18.59 12 21.8571 14.6906 21.8571 18V24C21.8571 27.3094 18.59 30 14.5714 30H7.28571C3.26719 30 0 27.3094 0 24V11.25ZM29.1429 11.25C29.1429 5.03437 35.256 0 42.8036 0H43.7143C45.7292 0 47.3571 1.34062 47.3571 3C47.3571 4.65938 45.7292 6 43.7143 6H42.8036C39.2859 6 36.4286 8.35312 36.4286 11.25V12H43.7143C47.7328 12 51 14.6906 51 18V24C51 27.3094 47.7328 30 43.7143 30H36.4286C32.41 30 29.1429 27.3094 29.1429 24V11.25Z"
                fill="#5A5550" />
        </svg>
        <p class="home-testimonial-quote">It is a long established fact that a reader will be distracted by the readable
            content of a page when looking at its
            layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
        <div class="home-testimonial-bio-wrapper">
            <img src="{{ asset "images/testimonial-headshot.png" }}" alt="" class="home-testimonial-image">
            <div>
                <p class="home-testimonial-name">Sarah Chen</p>
                <p class="home-testimonial-job-title">CTO, HealthTech Innovations</p>
            </div>
        </div>
    </div>
</section>