<section class="home-who-its-for">
    <div>
        <p class="home-who-its-for-subtitle">Founders, Teams, Enterprises, Individuals</p>
        <h2 class="home-who-its-for-heading">
            Who it’s For
        </h2>
        <p>
            This service caters to customers that:
        </p>
        <ul class="home-who-its-for-list">
            <li>Have a limited budget for full-time staff.</li>
            <li>Experience local or regional scarcity of cybersecurity professionals.</li>
            <li>Have a small digital footprint, with regulatory obligations.</li>
            <li>Are bound by regulatory mandates and need to prove compliance to external stakeholders.</li>
        </ul>
        <a class="primary-btn" href="#">
            Learn More
        </a>
    </div>
    <div>
        <h3>Startups (Series A)</h3>
        <p>Limited budgets that need a security and privacy baseline to enable growth.</p>
        <h3>Scale-ups (Series B–C)</h3>
        <p>Expanding rapidly and requiring structured security and privacy programs.</p>
        <h3>Established SMBs</h3>
        <p>Regulatory obligations and limited or non-existent dedicated security staff.</p>
        <h3>Venture Capital / Private Equity firms</h3>
        <p>Requiring due-diligence and risk management support for portfolio companies.</p>
    </div>
</section>